
@{
    ViewData["Title"] = "Index";
}

<h1>Home Index</h1>
<a asp-action="Index" asp-controller="Pasajero">Lista de pasajeros</a>
<a asp-action= "Create" asp-controller="Pasajero">Agregar un nuevo pasajero</a>

